<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Evidencia projektov</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/datepicker.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>


<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Evidencia projektov</a>
        </div>
        <div class="navbar-collapse collapse">
            <form action="/search" class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="date" class="form-control" name="dfrom" >
                </div>
                <div class="form-group">
                    <input type="date" class="form-control"  name="dto" >
                </div>
                <button type="submit" id="search" class="btn btn-info" >Hľadaj</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<div class="container">

<div class="col-md-1"></div>
<div class="col-md-10">
<div class="well">


    <form action="/records" method="post">
        <table style="width:500px" style="height:80px"><br>
        <tr><td> <label class="control-label" for="textinput">Názov projektu</label> </td><td><input type="text" class="form-control" name="newItem"></td></tr>
        <tr><td><label class="control-label" for="textinput">Dátum a čas začiatku</label> </td><td><input type="datetime-local" class="form-control" name="newDate"></td></tr>

        <tr><td><label class="control-label" for="textinput">Dátum a čas ukončenia</label> </td><td><input type="datetime-local" class="form-control" name="newDateEnd"></td></tr>

        <tr><td><label class="control-label" for="textinput">Popis práce</label> </td><td><input type="text" class="form-control" name="newNote"></td></tr>
        <tr><td><label class="control-label" for="textinput"> Miesto vykonávania</label> </td><td><input type="text" class="form-control" name="newPlace"></td></tr>
        <tr><td></td><td><br><input type="submit" class="btn btn-success" id="pridaj"></td> </tr>
        </table>
    </form><br>
    </div>



</div>
<div class="col-lg-1"></div>
    <br>

</div>

<div class="container">
    <div class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading " align="center"> Súčet hodín :

        <label id="label_sum" >
            <%= label_text %>
        </label>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <!-- Table -->


             <table class="table" align="center">
                 <thead>
                 <tr>

                     <th>Názov projektu</th>
                     <th>Dátum začiatku</th>
                     <th>Čas začiatku</th>
                     <th>Dátum ukončenia</th>
                     <th>Čas ukončenia</th>
                     <th>Popis práce</th>
                     <th>Miesto</th>
                 </tr>
                 </thead>




                    <div class="zoznam">
                    <% for (var i=0; i<items.length;i++){ %>
                    <tr>
                            <td ><%= items[i].nazov %></td>
                            <td ><%= items[i].dateZ.toDateString() %></td>
                            <td ><%= items[i].dateZ.getHours()%> : <%= items[i].dateZ.getMinutes()%> </td>
                            <td ><%= items[i].dateEnd.toDateString() %></td>
                            <td ><%= items[i].dateEnd.getHours()%> : <%= items[i].dateEnd.getMinutes()%> </td>
                            <td ><%= items[i].popis %></td>
                            <td ><%= items[i].place %></td>
                    </tr>
                         <%}%>
                    </div>
                </table>

    </div>

    <div class="col-lg-1"></div>

</div>
</div>


<script src="js/bootstrap-datepicker.js"></script>
<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>


