<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My app</title>
    <link href="styles/main.css" rel="stylesheet" >

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/datepicker.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" >Evidencia</a>

                <form action="/search" class="navbar-form navbar-left" role="search" method="get">
                    <div class="form-group" align="center">
                        <input type="date" class="form-control" name="dfrom" >
                        <input type="date" class="form-control"  name="dto" >

                    <button type="submit" id="search"  >Hľadaj</button>
                    </div>
                </form>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">



                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>


<div class="well">



    <form action="/records" method="post">
        <table style="width:500px" style="height:80px"><br>
        <tr><td> Názov projektu </td><td><input type="text"  name="newItem"></td></tr>
        <tr><td> Dátum začiatku </td><td><input type="date" name="newDate"></td></tr>
        <tr><td> Čas začiatku </td><td><input type="time" name="newTime"></td></tr>
        <tr><td> Dátum ukončenia </td><td><input type="date" name="newDateEnd"></td></tr>
        <tr><td> Čas ukončenia </td><td><input type="time" name="newTimeEnd"></td></tr>
        <tr><td> Popis práce </td><td><input type="text" name="newNote"></td></tr>
        <tr><td> Miesto vykonávania </td><td><input type="text" name="newPlace"></td></tr>
        <tr><td></td><td><br><input type="submit" id="pridaj"></td> </tr>
        </table>
    </form><br>



</div>

    <br>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>

    <!-- Table -->
   <p> <table class="table" align="center">
        <div class="zoznam">
            <% for (var i=0; i<items.length;i++){ %>
            <tr>
                <td width="100px"><%= items[i].nazov %></td>
                <td width="150px"><%= items[i].dateZ.toDateString() %></td>
                <td width="50px"><%= items[i].timeZ %></td>
                <td width="150px"><%= items[i].dateEnd.toDateString() %></td>
                <td width="50px"><%= items[i].timeEnd %></td>
                <td width="120px"><%= items[i].popis %></td>
                <td width="100px"><%= items[i].place %></td>
            </tr>
            <%}%>
        </div>
    </table></p>
</div>



<script src="js/bootstrap-datepicker.js"></script>
<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>


